<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<display-name>Eno</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>isLog4jAutoInitializationDisabled</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext*.xml</param-value>
	</context-param>

	<listener>
		<listener-class>fr.insee.eno.config.Log4j2EnoServletContextListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


	<servlet>
		<servlet-name>EnoServlet</servlet-name>

		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>

		<!-- <init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>fr.insee.eno.ws</param-value>
		</init-param> -->
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>fr.insee.eno.config.SwaggerConfig</param-value>
		</init-param> 
	</servlet>

	<servlet-mapping>
		<servlet-name>EnoServlet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>



</web-app>
